{% extends "base.html" %}

{% block title %}
    请假
{% endblock %}

{% block label %}

{% endblock %}

{% block content %}
    <form method="post">
        <table class="table">
            <tr>
                <th colspan="4" style="text-align:  center"><h1>请 假 条</h1></th>
            </tr>
            <tr>
                <th>请假人姓名</th>
                <td><input type="text" name="request_username" class="form-control form-control-user"></td>
                <th>请假类型</th>
                <td>
                    <select name="request_type" class="form-control form-control-user">
                        <option>--</option>
                        <option>事假</option>
                        <option>病假</option>
                        <option>婚假</option>
                        <option>产假</option>
                        <option>年假</option>
                        <option>缺勤</option>
                        <option>加班</option>
                        <option>调休</option>
                        <option>出差</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>起始时间</th>
                <td><input class="form-control form-control-user" type="date" name="request_start_time" ></td>
                <th>结束时间</th>
                <td><input class="form-control form-control-user" type="date" name="request_end_time" ></td>
            </tr>
            <tr>
                 <th>联系方式</th>
                <td><input class="form-control form-control-user" type="text" name="request_phone" ></td>
                <th>请假天数</th>
                <td><input class="form-control form-control-user" type="text" name="request_days" value="1天"></td>
             <tr>
                <th>描述</th>
                <td colspan="4">
                    <textarea class="form-control form-control-user" name="request_description">
                    </textarea>
                </td>
                </tr>
            <tr>
                <th colspan="4" style="text-align: right"><input class="btn btn-warning btn-block" type="submit" value="提交"></th>
            </tr>
        </table>
    </form>
{% endblock %}