{% extends "base.html" %}

{% block title %}
    请假列表
{% endblock %}

{% block label %}
    请假列表
    <a class="btn btn-primary" href="/leave/" style="float: right;margin-right: 7%;">申请假条</a>
{% endblock %}

{% block content %}
    <table class="table">
        <tr>
            <th>请假人</th>
            <th>请假类型</th>
            <th>起始时间</th>
            <th>结束时间</th>
            <th>请假天数</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        {% for i in page_data %}
        <tr>
            <td>{{ i.request_name }}</td>
            <td>{{ i.request_type }}</td>
            <td>{{ i.request_start_time }}</td>
            <td>{{ i.request_end_time }}</td>
            <td>{{ i.request_days }}</td>
            <td>
                {% if i.request_status == "0" %}
                        请假
                {% elif i.request_status == "1" %}
                        批注
                {% elif i.request_status == "2" %}
                        驳回
                {% else %}
                        销假
                {% endif %}
            </td>
            <td>
                <button class="btn btn-primary exit" self_id="{{ i.id }}">撤销</button>
            </td>
        </tr>
        {% endfor %}
    </table>
    <ul class="pagination" style="float: right">
        {% if not pager.is_start %}
        <li class="paginate_button page-item">
            <a class="page-link" href="/leave_list/{{ pager.previous_page }}/">上一页</a>
        </li>
        {% endif %}

        {% for p in pager.page_range %}
            {% if page == p %}
                <li class="paginate_button page-item disabled">
                    <a class="page-link btn btn-primary" href="/leave_list/{{ p }}/">{{ p }}</a>
                </li>
            {% else %}
                <li class="paginate_button page-item">
                    <a class="page-link" href="/leave_list/{{ p }}/">{{ p }}</a>
                </li>
            {% endif %}
        {% endfor %}
        {% if not pager.is_end %}
            <li class="paginate_button page-item">
                <a class="page-link" href="/leave_list/{{ pager.next_page}}/">下一页</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block script %}
    <script>
        $(".exit").each(
            function () {
               $(this).click(
                   function () {
                       var id = $(this).attr("self_id");
                       var url = "/cancel/";
                       $.ajax(
                           {
                               url:url,
                               type:"post",
                               data:{"id":id},
                               success:function (data) {
                                   alert(data["data"]);
                                   window.location.reload()
                               },
                               error:function (error) {
                                   console.log(error)
                               }
                           }
                       )
                   }
               )
            }
        )
    </script>
{% endblock %}