{% extends "base.html" %}

{% block tiltle %}
    个人中心
{% endblock %}

{% block label %}
{% endblock %}

{% block content %}
     <div id="content">
          <div class="row">

            <div class="col-lg-12">

              <!-- Circle Buttons -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">个人详情</h6>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td rowspan="4"><img style="width: 85% ;height: 180%" src="/static/img/1.jpg" ></td>
                            <th>姓名</th>
                            <td>娇妹儿</td>
                            <th>性别</th>
                            <td>女</td>
                        </tr>
                        <tr>
                            <th>年龄</th>
                            <td>18</td>
                            <th>职业</th>
                            <td>学生</td>
                        </tr>
                        <tr>
                            <th>学科</th>
                            <td>python</td>
                            <th>学籍状态</th>
                            <td>在籍</td>
                        </tr>
                        <tr>
                            <th>家庭住址</th>
                            <td>北京市中心</td>
                            <th>联系方式</th>
                            <td>185****1243</td>
                        </tr>
                    </table>
                </div>
              </div>

            </div>
          </div>
      </div>
          <div class="row">

            <div class="col-lg-12">

              <!-- Circle Buttons -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">课程表</h6>
                </div>

                <div class="card-body">
                    <table class="table table-bordered">
                        <tr align="center">
                            <th colspan="7">{{ month }}月课表</th>
                        </tr>
                        <tr align="center">
                            <th>星期一</th>
                            <th>星期二</th>
                            <th>星期三</th>
                            <th>星期四</th>
                            <th>星期五</th>
                            <th>星期六</th>
                            <th>星期日</th>
                        </tr>
                        {% for w in calendar %}
                            <tr>
                                {% for d in w  %}
                                    <td align="center">{{ d }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
              </div>

            </div>
          </div>
{% endblock %}